[Unit]
Description=Socket activation for PlantUML-Server

[Socket]
ListenStream=170%i
Service=plantuml@%i.service
Accept=no

[Install]
WantedBy=default.target
