[Unit]
Description=PlantUML-Server Proxy (%i)
Requires=plantuml-server@%i.service
After=plantuml-server@%i.service

[Service]
Type=notify
ExecStart=/usr/lib/systemd/systemd-socket-proxyd \
  --exit-idle-time=120s \
  %t/plantuml/%i.sock
