[Unit]
Description=PlantUML-Server Container (%i)
StopWhenUnneeded=yes

[Container]
ContainerName=plantuml-server-%i
Image=plantuml-server.build
# Mount user runtime dir
Volume=%t/plantuml:/run/plantuml:rw
# Pass socket path into container
Environment=SOCKET_PATH=/run/plantuml/%i.sock
# Startup Health Check (faster checks during startup)
HealthStartupCmd=/usr/local/bin/healthcheck.sh
HealthStartupInterval=1s
HealthStartupSuccess=1
HealthStartupTimeout=1s
HealthStartPeriod=30s
# Regular Health Check
HealthCmd=/usr/local/bin/healthcheck.sh
HealthInterval=15s
HealthRetries=2
HealthTimeout=2s
# Notify as started only when healthy
Notify=healthy

[Service]
Restart=on-failure
# Set a longer start-up timeout so that the build unit is not terminated
TimeoutStartSec=120
RuntimeDirectory=plantuml
RuntimeDirectoryMode=0755